.content {
    grid-area: c;
    background-color: #00539C;
    color: #fff;
}

.mainImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile img {
    width: 15%;
    height: 150px;
    object-fit: cover;
    padding: 1%;
}

.profile {
    display: flex;
    font-family: 'Karma', serif;
}

.posts {
    font-family: 'Karma', serif;
    padding: 1%;
}

.input {
    border: none;
    width: 20%;
    height: 30px;
    margin-right: 10px;
}

.inputs {
    display: flex;
    align-items: center;
}

.btn {
    font-family: 'Karma', serif;
    font-size: 1rem;
    background-color: #EEA47F;
    border: none;
    color: #fff;
    padding: 10px 20px;
}

.postImg {
    width: 4%;
    padding-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
}